<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">Edit <%= @trailhead.name %></h2>
        </div>
    </div>
</section>
<br>

<%= render "application/errors" %>

<%= render partial: "form", locals: {trailhead: @trailhead} %>

<br>

<%= form_tag(trailhead_path(@trailhead), method: "delete") do %>
    <input type="submit" value="Delete" class="button is-danger">
<% end %>