<h2>Edit <%= @trailhead.name %></h2>

<%= render "application/errors" %>

<%= render partial: "form", locals: {trailhead: @trailhead} %>


<%= button_to "Delete Trailhead", trailhead_path(@trailhead), method: :delete %>