<h2>Edit <%= @trailhead.name %></h2>

<%= render "application/errors" %>

<%= render partial: "form", locals: {trailhead: @trailhead} %>

<br>

<%= form_tag(trailhead_path(@trailhead), method: "delete") do %>
    <input type="submit" value="Delete" class="button is-danger is-small">
<% end %>