<h1>All Trailheads</h1>

<div>
<%= link_to "Create a New Trailhead", new_trailhead_path %>
</div>

<div>
<h3>Want the most popular trailhead?</h3>
<%= link_to "Click here", trailheads_most_check_ins_path %> to view the trailhead with the most check-ins.
</div>

<div>
<%= render partial: "trailheads/list", locals: {trailheads: @trailheads} %>
</div>