<h2>Edit <%= @hike.name %></h2>

<%= render "application/errors" %>

<%= render partial: "form", locals: {form_hike: @hike} %>

<br>

<%= form_tag(hike_path(@hike), method: "delete") do %>
    <input type="submit" value="Delete" class="button is-danger is-small">
<% end %>