<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">All Hikes</h1>
        </div>
    </div>
</section>
<br>

<div class="columns">
<div class="column">
    <div>
    <strong><%= link_to "Create a New Hike", new_hike_path %></strong>
    </div>
    <br>
    <div>
    <%= form_tag(hikes_path, method: "get") do %>
        <h3>Filter hikes by features</h3>
        <%= select_tag :filter, options_for_select([ ['Mountains'], ['Beaches'], ['Waterfalls'], ['Wildflowers'], ['Family-friendly'], ['Dog-friendly'] ]) %><br><br>
        <input type="submit" value="Filter Hikes" class="button is-primary"><br>
    <% end %>
    </div>
</div>

<div class="column">
    <div>
    <%= render partial: "list", locals: {hikes: @hikes} %>
    </div>
</div>
</div>