<% if @trailhead != nil %>
    <h1>All Hikes at <%= @trailhead.name %></h1>
<% else %>
    <h1>All Hikes</h1>
<% end %>

<div>
<ul>
<% @hikes.each do |h| %>
    <li><%= link_to h.name, hike_path(h) %></li>
<% end %>
</ul>
</div>